@font-face {
    font-family: "roboto";
    src: url(font/Roboto-Regular.ttf);
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p {
  margin: 0;
}

/* Set body defaults */
body {
  font-family: "roboto", sans-serif;
  font-size: 1.5rem;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove list style */
ul {
    list-style: none;
    padding: 0;
}

/*Custom Properties*/
:root {
    --light-back-color: #f8fafc;
    --medium-back-color: #e2e8f0;
    --dark-back-color: #94a3b8;
    --accent-color: #fb7185;
}
/*---Default styles done---*/
/*---Begin custom css---*/

.grid-container {
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 5fr;
    background-color: #d1fae5;
    height: 100vh;
}

.sidebar {
    background-color: var(--dark-back-color);
    grid-column: 1;
    grid-row: 1/3;
}

.header {
    background-color: var(--light-back-color);
    grid-column: 2;
    grid-row: 1;
}

.main {
    background-color: var(--medium-back-color);
    grid-column: 2;
    grid-row: 2;
}